.doctor_row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1em; */
    padding-top: 8em;
    /* background-color: bisque; */
}
.doctor_head_text {
    font-size: 40px;
}
.doctor_container {
    /* height: 110vh; */
    /* width: 98vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 8em;
    padding-right: 8em;
}
.doctor_container > * {
    /* border: 1px solid black; */
}

.left_doctor {
    height: 80vh;
    width: 20vw;
    /* background-color: beige; */
    position: relative;
}

.shield {
    /* height: 40vh; */
    /* width: 10vw; */
    /* background-color: beige; */
}

.right_doctor {
    height: 80vh;
    width: 20vw;
    /* background-color: beige; */
    position: relative;
}

.hover_point {
    /* height: 5vh; */
    /* width: 5vw; */
    /* display: inline-block; */
    /* background-color: teal; */
    cursor: crosshair;
    /* border: 1px solid black; */
    /* opacity: 0; */
}

.doctor_statcontainer {
    top: 0px;
position: absolute;
padding-inline-start: 10em;
}
.doctor_clickanimation {
    top: 50px;
    left: 15px;
position: absolute;
}