.doctor_row {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 1em; */
    padding-top: 8em;
    /* background-color: bisque; */
}

.doctor_head_text {
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .doctor_container>.doctor_row {
        display: none;
    }
    .doctor_container {
        overflow: hidden;
    }
    .doctor_row_mobile {
        transform: scale(0.8);
    }
}

@media screen and (min-width: 1200px) {
    .doctor_container>.doctor_row_mobile {
        display: none;
    }
    .doctor_container {
        padding-left: 8em;
        padding-right: 8em;
    }
}

.doctor_row_mobile {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
}

#mobstat1 {
    opacity: 0;
    animation: mobstat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-delay: 0ms;
}
#mobstat2 {
    opacity: 0;
    animation: mobstat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-delay: 3s;
}
#mobstat3 {
    opacity: 0;
    animation: mobstat;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-delay: 6s;
}
 @keyframes mobstat {
  0% { transform: translateY(50px); opacity: 1; }
  10% { transform: none;}
  25% { opacity: 1;}
  35% { opacity: 0;}
  100% { opacity: 0; }
 }

.doctor_container {
    /* height: 110vh; */
    /* width: 98vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
    /* padding-left: 8em; */
    /* padding-right: 8em; */
}

.left_doctor {
    height: 80vh;
    width: 20vw;
    /* background-color: beige; */
    position: relative;
}

.shield {
    /* height: 40vh; */
    /* width: 10vw; */
    /* background-color: beige; */
}

.right_doctor {
    height: 80vh;
    width: 20vw;
    /* background-color: beige; */
    position: relative;
}

.hover_point {
    height: 5vh;
    width: 5vw;
    display: inline-block;
    background-color: teal;
    cursor: crosshair;
    /* border: 1px solid black; */
    position: absolute;
    z-index: 999;
    opacity: 0;
}

.doctor_statcontainer {
    top: 0px;
    position: absolute;
    animation: statfade 500ms;
}

@keyframes statfade {
  0% { transform: translateY(50px); }
  100% { transform: none; }
}

.doctor_clickanimation {
    top: 50px;
    left: 15px;
    position: absolute;
}

.doctor_bottomtext {
    padding-top: 5rem;
    text-align: center;
}