.div-text{
    margin-bottom: 100px;
    padding-top: 250px;
}

#pic1,#pic2,#pic3{
    margin-top: 50px;
    height: 709px;
    /* width: 349.72px; */
}

.content{
    /* background-color: rgb(33, 36, 38); */
    /* color: rgb(248, 248, 248); */
    /* width: 100vw; */
    min-height: 100vh;
    position: relative;
    padding: 240px 200px 250px;
    /* background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/hero-bg.png); */
    background-size: cover;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .div-text1{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: 50%;
  }

  .div-text2{
    margin-bottom: 100px;
    margin-top: 250px;
  }
  
.div-1{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    position: relative;
  }
  .div-2{
    position: sticky;
    top: 20px;
    height: 709px;
    width: 349.72px;
    box-shadow: rgba(255, 255, 255, 0.16) 0px -5px 6px 0px inset, rgb(0 0 0 / 24%) 4px 6px 11px 1px inset;
    border-radius: 46px;
    padding: 16px 14px;
    /* margin-bottom: 100px; */
  }
  .div-3{
    background-color: rgb(39, 43, 45);
    border-radius: 36px;
    height: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
  }


  /* Responsive */
  @media (min-width: 576px) {
    /* .div-1 {
        !important;
    } */
  }
  
  @media (min-width: 768px) {
    /* .cus-d2 {
        font-size: 56px!important;
    } */
  }
  @media (min-width: 992px) {
        /* .cus-d2 {
        font-size: 60px!important;
    } */
  }
  @media (min-width: 1200px) {
    /* .cus-d2 {
        font-size: 64px!important;
    } */
  }