.footer {
    padding: 96px 0;
    background-color: #1E1E21;
}

@media (min-width: 576px) {
    .footer {
        padding: 136px 0;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 176px 0;
    }
}

@media (min-width: 992px) {
    .footer {
        padding: 176px 0;
    }
}

@media (min-width: 1200px) {
    .footer {
        padding: 216px 0;
    }
}

.custom-input-lt {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(rgba(255, 255, 255, 0.8), green, blue, alpha);
}

.copyright-part {
    background-color: #1E1E21;
}

.social-medias ul {
    margin: 0;
    padding: 0;
}

.social-medias ul li {
    list-style-type: none;
    display: inline;
}

.social-medias a {
    color: #fff;
    text-decoration: none;
}

.social-medias li:not(:first-child):before {
    content: " | ";
}