body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Statistics */

/* .stats_bg{
  background-color: #1E1E21;
}
.stats_txt{
  font-weight: 300;
  font-size: 72px;
}

#txt-color{
  font-weight: 500;
  color: #F55F4B;
}

.card{
  border: 0 !important;
}
.card-title{
  font-size: 88px;
  font-weight: 300;
  color: #FFE092;
}

.card-body{
  background-color: #1E1E21;
}

.card-text{
  font-weight: 300;
  font-size: 28px;
} */

/* Phone */

.txt-head{
  font-weight: 500;
  font-size: 72px;
}

.txt-body{
 font-weight: 600;
 font-size: 20px;
  opacity: 0.4;
}

#pic{
  height: 709px;
  object-fit: cover;
  width: 349.72px;
}

.video-txthead{
  padding-left: 111.6px;
  padding-right: 96px;
  margin-top: 224px;
  padding-bottom: 144px;
}

/* Why Fitmedik ? */

/* .reason_card-title{
  font-weight: 600;
  font-size: 28px;
}

.reason_card-text{
  font-weight: 400;
  font-size: 20px;
  opacity: 0.6;
}
.reason_icon{
  height: 96px;
  width: 96px;
  color: white;
}

.reason_grid{
  padding-right: 120px;
} */