body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* Statistics number */
.cus-d1 {
  font-size: 56px!important;
}
@media (min-width: 576px) {
  .cus-d1 {
      font-size: 64px!important;
  }
}

@media (min-width: 768px) {
  .cus-d1 {
      font-size: 72px!important;
  }
}
@media (min-width: 992px) {
      .cus-d1 {
      font-size: 76px!important;
  }
}
@media (min-width: 1200px) {
  .cus-d1 {
      font-size: 80px!important;
  }
}

/* Heading */
.cus-d2 {
  font-size: 40px!important;
}
@media (min-width: 576px) {
  .cus-d2 {
      font-size: 48px!important;
  }
}

@media (min-width: 768px) {
  .cus-d2 {
      font-size: 56px!important;
  }
}
@media (min-width: 992px) {
      .cus-d2 {
      font-size: 60px!important;
  }
}
@media (min-width: 1200px) {
  .cus-d2 {
      font-size: 64px!important;
  }
}


/* Paragraph */
.txt-body {
  font-weight: 600;
  opacity: 0.4;
}

/* Section */
section {
  padding: 96px 0;
}

@media (min-width: 576px) {
  section {
      padding: 136px 0;
  }
}

@media (min-width: 768px) {
  section {
      padding: 176px 0;
  }
}

@media (min-width: 992px) {
  section {
      padding: 176px 0;
  }
}

@media (min-width: 1200px) {
  section {
      padding: 216px 0;
  }
}




/* Phone */

.txt-head{
  font-weight: 500;
  font-size: 72px;
}

.txt-body{
 font-weight: 600;
 font-size: 20px;
  opacity: 0.4;
}

#pic{
  height: 709px;
  object-fit: cover;
  width: 349.72px;
}








