/* Why Fitmedik ? */
.stats_bg{
  background-color: #1E1E21;
  /* height: 1171px; */
}
.stats_txt{
  font-weight: 300;
  font-size: 72px;
}

#txt-color{
  font-weight: 500;
  color: #F55F4B;
}

.card{
  border: 0 !important;
}
.card-title{
  font-size: 88px;
  font-weight: 300;
  color: #FFE092;
}

.card-body{
  background-color: #1E1E21;
}

.card-text{
  font-weight: 300;
  font-size: 28px;
}
.reason_card-title{
    font-size: 28px;
    opacity: 0.8;
  }
  
  .reason_card-text{
    font-weight: 400;
    font-size: 20px;
    opacity: 0.6;
  }
  .reason_icon{
    height: 96px;
    width: 96px;
    color: white;
  }
  
  .reason_grid{
    padding-right: 60px;
  }

  .line1{
    border-right: 2px solid #959595;
    border-bottom: 2px solid #959595;
    height: 400px;
  }
  .line2{
    border-bottom: 2px solid #959595;
  }
  .line3{
    border-right: 2px solid #959595;
    height: 400px;
  }
  .line4{
    border:none;
  }
 

  @media (max-width: 768px) {
    .line1,.line2,.line3,.line4 {
        border: none;
        padding-left: 0px!important;
              height: 260px!important;

    }
}

